extends layout

block content

	if county
		.card
			.card-header.text-center
				.card-title
					h4.text-center County Info
				
			.list-group.list-group-flush
				if county.accepted_ballots
					- var accepted_percent = (county.accepted_ballots/county.b_count * 100).toFixed(1);
					.list-group-item.disabled.text-primary
						span Accepted Ballots:
						span.float-right #{county.accepted_ballots} (#{accepted_percent}%)
				if county.received_ballots
					- var received_percent = (county.received_ballots/county.b_count * 100).toFixed(1);
					.list-group-item.disabled.text-primary
						span Received Ballots:
						span.float-right #{county.received_ballots} (#{received_percent}%)
				if county.rejected_ballots
					- var rejected_percent = (county.rejected_ballots/county.b_count * 100).toFixed(1);
					.list-group-item.disabled.text-primary
						span Challenged Ballots:
						span.float-right #{county.rejected_ballots} (#{rejected_percent}%)
	
	.card
		.card-header.text-center
			.card-title
				h4.text-center #{voters.length} Voters
				small Ballots marked Rejected can be resolved with your county auditor, please contact them for official information on your ballot status.



		.list-group.list-group-flush
			each voter in voters
				if voter.ballot
					if voter.ballot.status == "Accepted"
						a.list-group-item.list-group-item-action.list-group-item-success(href='/voter/wa/id/'+voter._id.toLowerCase()) 
							h3.fa.fa-thumbs-up.fa-fw.float-right
							.ml-0 #{voter.lname}, #{voter.fname} #{voter.mname}
							.ml-2.small #{voter.street} #{voter.city}
							.ml-2.small Voter Status: #{voter.status}
							.ml-2.small Ballot Status: #{voter.ballot.status} on #{voter.ballot.sdate}
							//.ml-2.small Auditor Comment: #{voter.ballot.comment}

					else if voter.ballot.status == "Received"
						a.list-group-item.list-group-item-action.list-group-item-warning(href='/voter/wa/id/'+voter._id.toLowerCase()) 
							h3.fa.fa-fw.float-right
							.ml-0 #{voter.lname}, #{voter.fname} #{voter.mname}
							.ml-2.small #{voter.street} #{voter.city}
							.ml-2.small Voter Status: #{voter.status}
							.ml-2.small Ballot Status: #{voter.ballot.status} on #{voter.ballot.sdate}
							if(voter.ballot.comment)
								.ml-2.small Auditor Comment: #{voter.ballot.comment}

					else if voter.ballot.status == "Rejected"
						a.list-group-item.list-group-item-action.list-group-item-danger(href='/voter/wa/id/'+voter._id.toLowerCase()) 
							h3.fa.fa-thumbs-down.fa-fw.float-right
							.ml-0 #{voter.lname}, #{voter.fname} #{voter.mname}
							.ml-2.small #{voter.street} #{voter.city}
							.ml-2.small Voter Status: #{voter.status}
							.ml-2.small Ballot Status: #{voter.ballot.status} on #{voter.ballot.sdate}
							if(voter.ballot.comment)
								.ml-2.small Auditor Comment: #{voter.ballot.comment}
				else
					a.list-group-item.list-group-item-action(href='/voter/wa/id/'+voter._id.toLowerCase()) 
						h3.fa.fa-fw.float-right
						.ml-0 #{voter.lname}, #{voter.fname}
						.ml-2.small #{voter.street} #{voter.city}
						.ml-2.small Voter Status: #{voter.status}
						.ml-2.small Ballot Status: None


			.list-group-item.text-center()
				i.fa.fa-thumbs-up.fa-fw() 
				| Voted in the 2020 Trump/Biden General Election&nbsp;
